$lightLavender: hsl(241, 100%, 89%);

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Hanken Grotesk", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: hsl(0, 0%, 100%);
}
.body {
	display: flex;
	-webkit-box-shadow: 0px 4px 15px 1px rgba(85, 73, 151, 0.2);
	-moz-box-shadow: 0px 4px 15px 1px rgba(85, 73, 151, 0.2);
	box-shadow: 0px 4px 15px 1px rgba(85, 73, 151, 0.2);
	// background-color: hsl(0, 60%, 40%);
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	&_columns {
		// padding: 40px 35px 50px 35px;
		flex: 0 1 50%;

		&-title {
			font-weight: 400;
			color: $lightLavender;
		}
		&-result {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 200px;

			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;

			margin: 30px auto 25px auto;
			background: rgb(74, 35, 204);
			background: linear-gradient(180deg, rgba(74, 35, 204, 0.891281512605042) 68%, rgba(74, 35, 204, 0.01) 100%);
			strong {
				font-size: 58px;
				color: hsl(221, 100%, 96%);
			}
			span {
				font-size: 15px;
				font-weight: 700;
				opacity: 0.8;
				color: $lightLavender;
			}
		}
		&-desc {
			h2 {
				font-size: 28px;
				margin: 0 0 15px 0;
				font-weight: 800;
				color: hsl(221, 100%, 96%);
			}
			p {
				color: $lightLavender;
			}
		}
	}
	@media (max-width: 768px) {
		display: block;
	}
}
.columns-first {
	background-color: blue;
	text-align: center;
	padding: 45px 30px 45px 30px;
	// padding: 40px 50px 45px 50px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	background: rgb(46, 43, 233);
	background: linear-gradient(0deg, rgba(46, 43, 233, 1) 40%, rgba(120, 87, 255, 1) 100%);

	@media (max-width: 768px) {
		padding: 40px 50px 45px 50px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.columns-second {
	padding: 45px 40px 45px 40px;

	&__title {
		color: hsl(224, 30%, 27%);
		font-weight: 800;
		margin: 0 0 30px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 15px;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		// margin: 0;

		&:not(:last-of-type) {
			margin: 0 0 15px 0;
		}
		&-img {
			display: flex;
			padding: 0 15px 0 0;
		}
		&-name {
			font-size: 18px;
			opacity: 0.85;
			font-weight: 700;
			flex: 1 1 auto;
		}
		&-result {
			font-size: 18px;
			p {
				font-weight: 700;
				color: #aba5af;

				strong {
					font-weight: 800;
					color: hsl(224, 30%, 27%);
				}
			}
		}
	}
	&__btn {
		width: 100%;
		height: 55px;
		line-height: 55px;
		font-weight: 700;
		border: none;
		outline: none;
		background-color: hsl(224, 30%, 27%);
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		-ms-border-radius: 35px;
		-o-border-radius: 35px;
		margin: 40px 0 0 0;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		cursor: pointer;
		span {
			font-size: 18px;
			opacity: 0.9;
			color: hsl(221, 100%, 96%);
			font-family: "Hanken Grotesk", sans-serif;
		}
		&:hover {
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			background: rgb(46, 43, 233);
			//background: linear-gradient(0deg, rgba(46, 43, 233, 1) 40%, rgba(120, 87, 255, 1) 100%);
		}
	}
}
.red-item {
	color: hsl(0, 100%, 67%);
	background-color: #fff6f5;
}
.orange-item {
	color: hsl(39, 100%, 56%);
	background-color: #fffbf2;
}
.green-item {
	color: hsl(166, 100%, 37%);
	background-color: #f2fbfa;
}
.blue-item {
	color: hsl(234, 85%, 45%);
	background-color: #f3f3fd;
}
